@using RIKTrialSharedModels.Domain.Returns
@using RIKTrialSharedModels.Domain.Types

<div class="Participant-Card" @onclick="GoToEdit">

    @if (Participant.Type == ParticipantType.PERSON)
    {
        <div class="Participant-Card--Main">
            <span class="Participant-Card--Title">
                @Participant.FirstName @Participant.LastName
            </span>

            <span class="@(IsLight
                          ? "Participant-Card--SubLight"
                          : "Participant-Card--Sub")">
                @Participant.IdNumber
            </span>
            @if (!IsLight)
            {
                <span class="Participant-Card--Sub">
                </span>

                <span class="Participant-Card--Sub">
                    @Participant.PaymentMethod.PaymentMethod
                </span>

                <span class="Participant-Card--Sub">
                    @Participant.AdditionalInfo
                </span>
            }

        </div>

        @if (ActionEnabled)
        {
            <button class="Participant-Card--Btn"
                    type="button"
                    title="@ToolTipString"
                    @onclick:stopPropagation="true"
                    @onclick:preventDefault="true"
                    @onclick="FireAction">
                <img src="images/remove.svg" alt="Delete Participant" />
            </button>
        }
    }
    else
    {
        <div class="Participant-Card--Main">
            <span class="Participant-Card--Title">
                @Participant.Name
            </span>

            <span class="@(IsLight
                            ? "Participant-Card--SubLight"
                            : "Participant-Card--Sub")">
                @Participant.CompanyCode
            </span>

            @if(!IsLight)
            {
                <span class="Participant-Card--Sub">
                    @if (Participant.ParticipantAmount is not null)
                    {
                        <span class="extra">
                            (@Participant.ParticipantAmount osalejat)
                        </span>
                    }
                </span>

                <span class="Participant-Card--Sub">
                    @Participant.PaymentMethod.PaymentMethod
                </span>

                <span class="Participant-Card--Sub">
                    @Participant.AdditionalInfo
                </span>
            }
            
        </div>
        @if (ActionEnabled)
        {
            <button class="Participant-Card--Btn"
                    type="button"
                    title="@ToolTipString"
                    @onclick:stopPropagation="true"
                    @onclick:preventDefault="true"
                    @onclick="FireAction">
                <img src="images/remove.svg" alt="Delete Participant" />
            </button>
        }
    }

</div>

@code {

    [Parameter]
    public ParticipantReturnDTO Participant { get; set; } = null!;

    [Parameter]
    public bool ActionEnabled { get; set; } = false;

    [Parameter]
    public EventCallback<Guid> ActionEvent { get; set; }

    [Parameter]
    public bool IsLight { get; set; } = false;

    [Parameter]
    public string ToolTipString { get; set; } = "";

    [Inject]
    private NavigationManager Nav { get; set; } = null!;

    

    private async Task FireAction()
    {
        await ActionEvent.InvokeAsync(Participant.Id);
    }

    private void GoToEdit()
    {
        Nav.NavigateTo($"/participants/{Participant.Id}");
    }
}
